In [1]:
import pandas as pd
import numpy as np
import matplotlib as plt

In [2]:
wisconsin_data = pd.read_csv('breast-cancer-wisconsin.csv', names=['Sample_code_number','Clump_Thickness','Uniformity_of_Cell_Size','Uniformity_of_Cell_Shape','Marginal_Adhesion','Single_Epithelial_Cell_Size','Bare_Nuclei','Bland_Chromatin','Normal_Nucleoli','Mitoses','Class'])
wisconsin_data = wisconsin_data.drop(columns=['Sample_code_number'])

In [3]:
cleaned_wisconsin_data = wisconsin_data[wisconsin_data.get('Bare_Nuclei') != '?']
cleaned_wisconsin_data = cleaned_wisconsin_data.assign(Bare_Nuclei=cleaned_wisconsin_data.get('Bare_Nuclei').astype(int))
sample = cleaned_wisconsin_data.sample(1000, replace=True)
cleaned_wisconsin_data = pd.concat([cleaned_wisconsin_data, sample])
cleaned_wisconsin_data

,Clump_Thickness,Uniformity_of_Cell_Size,Uniformity_of_Cell_Shape,Marginal_Adhesion,Single_Epithelial_Cell_Size,Bare_Nuclei,Bland_Chromatin,Normal_Nucleoli,Mitoses,Class
0,5,1,1,1,2,1,3,1,1,2
1,5,4,4,5,7,10,3,2,1,2
2,3,1,1,1,2,2,3,1,1,2
3,6,8,8,1,3,4,3,7,1,2
4,4,1,1,3,2,1,3,1,1,2
...,...,...,...,...,...,...,...,...,...,...
656,5,1,1,1,2,1,2,1,1,2
168,3,1,1,1,2,1,3,1,1,2
244,1,1,1,1,2,1,3,1,1,2
614,2,1,1,1,1,1,2,1,1,2
526,4,1,1,1,2,1,1,1,1,2

In [4]:
shuffled = cleaned_wisconsin_data.sample(cleaned_wisconsin_data.shape[0], replace=False)

In [5]:
training = shuffled.iloc[:1000].reset_index().drop(columns=['index'])
training

,Clump_Thickness,Uniformity_of_Cell_Size,Uniformity_of_Cell_Shape,Marginal_Adhesion,Single_Epithelial_Cell_Size,Bare_Nuclei,Bland_Chromatin,Normal_Nucleoli,Mitoses,Class
0,5,1,1,3,2,1,1,1,1,2
1,8,5,6,2,3,10,6,6,1,4
2,3,1,1,1,2,1,2,1,1,2
3,10,7,7,3,8,5,7,4,3,4
4,8,8,7,4,10,10,7,8,7,4
...,...,...,...,...,...,...,...,...,...,...
995,4,1,4,1,2,1,1,1,1,2
996,2,1,1,1,2,1,1,1,5,2
997,5,1,1,1,2,1,1,1,1,2
998,6,10,10,10,8,10,10,10,7,4
999,3,3,2,1,3,1,3,6,1,2

In [6]:
test = shuffled.iloc[1000:].reset_index().drop(columns=['index'])
test

,Clump_Thickness,Uniformity_of_Cell_Size,Uniformity_of_Cell_Shape,Marginal_Adhesion,Single_Epithelial_Cell_Size,Bare_Nuclei,Bland_Chromatin,Normal_Nucleoli,Mitoses,Class
0,6,1,1,1,2,1,3,1,1,2
1,7,4,6,4,6,1,4,3,1,4
2,1,1,1,1,1,1,3,1,1,2
3,4,10,4,7,3,10,9,10,1,4
4,4,1,1,1,2,1,1,1,1,2
...,...,...,...,...,...,...,...,...,...,...
678,2,5,7,6,4,10,7,6,1,4
679,10,7,7,3,8,5,7,4,3,4
680,4,1,1,1,2,1,2,1,1,2
681,10,6,6,2,4,10,9,7,1,4
682,1,1,1,1,2,1,1,1,1,2

## Distances

In [7]:
def distance(row1, row2):
    return np.sqrt(np.sum((np.array(row1.astype(int)) - np.array(row2.astype(int)))**2))
def manhattan(row1, row2):
    return np.sum(abs(np.array(row1.astype(int) - np.array(row2.astype(int)))))

In [8]:
def nearest_neighbors(ex, training):
    distances = np.array([])
    for index, row in training.iterrows():
        distances = np.append(distances, distance(ex, row))
    return distances
def nearest_neighbors_man(ex, training):
    manhattans = np.array([])
    for index, row in training.iterrows():
        manhattans = np.append(manhattans, manhattan(ex, row))
    return manhattans

In [9]:
distance(test.iloc[0],test.iloc[1])

8.306623862918075

In [10]:
manhattan(test.iloc[0],test.iloc[1])

21

In [11]:
nearest_neighbors_man(test.iloc[0] , training)

array([ 5., 32.,  4., 39., 54.,  4., 10., 44.,  2.,  4., 36., 43., 15.,
        4., 38., 17., 42., 27., 11., 40.,  4., 47., 51.,  8.,  8.,  8.,
        7.,  4.,  1., 44.,  6.,  4.,  4., 40.,  3.,  2.,  5.,  4.,  7.,
        5., 47.,  4., 60.,  4.,  3.,  5.,  4.,  9., 11., 55., 47., 44.,
        4.,  6., 40.,  7., 63.,  4.,  5., 13., 21., 41.,  3., 29.,  5.,
       29.,  4.,  2.,  6.,  8., 26.,  6., 26.,  7., 32.,  4.,  5., 26.,
        4.,  2., 26., 50.,  6., 15.,  5.,  6.,  6.,  7., 42., 45.,  5.,
        7.,  5., 54.,  8.,  7.,  3.,  3.,  5.,  9.,  6.,  4., 36.,  5.,
        5.,  4.,  6., 29., 54., 36., 33.,  3.,  5.,  6., 33., 30.,  7.,
        4.,  5.,  9.,  6., 17., 34.,  0.,  7.,  9., 27., 48.,  5., 47.,
       48.,  7.,  5., 26.,  2., 16.,  8., 33., 44.,  2.,  4.,  6.,  5.,
       55., 22.,  5.,  8.,  4., 69.,  4., 41.,  5.,  2.,  5., 36.,  5.,
        6.,  6., 30., 61.,  3., 45.,  2.,  9., 47., 10., 47.,  4.,  2.,
        7.,  3.,  3.,  5., 17.,  3., 34.,  4.,  2., 28., 32.,  3.,  2.,
        4.,  6.,  9., 34., 10., 60.,  9.,  7.,  8.,  4.,  3., 44.,  1.,
       40.,  5.,  4.,  6.,  9.,  1., 50., 61.,  8., 32.,  7., 39., 36.,
        5., 28., 32.,  7., 43.,  4.,  8., 45.,  7.,  4.,  7., 40.,  6.,
       13.,  1., 69.,  8., 38.,  9., 32.,  6., 10.,  7., 10., 65.,  7.,
        9., 47.,  6.,  9.,  6.,  5., 47.,  6.,  5., 25.,  2.,  7.,  5.,
       31.,  7.,  5.,  1., 48.,  6.,  6.,  3.,  3.,  1.,  9., 44.,  4.,
       38., 34., 36.,  8., 10., 33., 10., 31.,  4., 13., 26.,  9.,  7.,
       33.,  6., 46.,  5.,  3.,  2., 29.,  2.,  5.,  5.,  7.,  6., 27.,
       20.,  3., 52.,  5., 27., 46.,  6., 62., 11.,  4.,  3.,  4., 60.,
        7., 17.,  4.,  6., 42., 11.,  4.,  5.,  4.,  2.,  5.,  4., 44.,
       21., 34.,  6.,  3.,  5.,  6.,  8., 43., 25.,  2., 16., 11.,  8.,
        6.,  7.,  3.,  7., 11.,  5.,  3., 53., 48.,  6., 35., 18., 34.,
        3.,  9., 25., 17., 43., 25., 26., 10., 31.,  5., 55.,  8., 42.,
       25., 50., 40.,  6., 20.,  4., 56., 43.,  6.,  4.,  7.,  8.,  3.,
       44.,  8.,  7.,  4.,  1., 41., 50.,  4., 47.,  3.,  9., 11., 59.,
       10.,  6.,  7.,  4., 44.,  2., 26.,  9., 48.,  6., 45.,  7., 17.,
        6.,  3.,  5., 28.,  7.,  8.,  7., 12.,  4., 11.,  5., 51., 31.,
        5.,  4., 44.,  4.,  5.,  3.,  5., 51.,  3., 35.,  3., 50.,  8.,
        4., 29., 35.,  3.,  6.,  6.,  9.,  5.,  2.,  8.,  4.,  3.,  6.,
        4.,  6., 13., 19.,  5., 12.,  5., 35.,  9.,  6., 11.,  7., 44.,
        3., 26., 34., 44.,  7.,  4.,  2.,  3., 31.,  7.,  8.,  4.,  5.,
        5.,  7., 38., 11.,  8., 34.,  4., 21.,  9., 15., 34.,  5.,  4.,
        3., 28.,  5.,  7.,  2.,  4., 32., 45.,  6., 14.,  2., 42.,  7.,
       51., 54., 24., 31.,  2., 30., 20.,  5.,  9., 31.,  5., 43., 28.,
       28., 15., 65.,  6., 45., 39., 35., 35.,  3.,  4.,  6.,  3., 44.,
        5., 40.,  6.,  6., 48.,  4., 44.,  2.,  5.,  1.,  4.,  7., 26.,
        5., 18.,  5., 63., 18., 50.,  5., 69.,  1.,  7.,  4., 47., 49.,
       36., 35.,  5.,  4.,  5.,  9.,  6.,  3.,  5.,  7.,  5.,  8.,  4.,
        5., 31., 10.,  5.,  5., 16.,  2.,  8.,  4., 37., 23.,  8.,  9.,
       30., 53.,  4., 68., 30.,  6., 12.,  9.,  5., 35.,  6.,  8., 10.,
        7.,  4., 11., 55., 28.,  3.,  6., 22.,  5.,  7.,  7., 38., 59.,
        9.,  5.,  9.,  4., 27., 11.,  5.,  9., 26., 10., 33.,  7.,  9.,
        8., 42., 55., 20., 32.,  7.,  9.,  5., 36.,  3., 35., 31., 14.,
       38., 11.,  7.,  7.,  2.,  5.,  7., 36.,  2.,  7.,  5., 22.,  5.,
        3.,  4.,  8.,  2.,  7., 34.,  2., 43.,  4.,  1., 19., 40., 48.,
       17.,  4.,  7., 33., 19., 50.,  3.,  2.,  4., 48., 34.,  5.,  9.,
        1.,  5.,  5.,  7.,  9., 12.,  6.,  2.,  7.,  3., 45., 32., 47.,
       36., 43., 28., 48., 46.,  6.,  3., 27., 63.,  3., 33., 19.,  5.,
       36., 55., 14.,  6.,  3.,  3.,  3.,  5.,  6.,  6.,  4., 12., 44.,
       48.,  7.,  6.,  9.,  5.,  3., 44., 44.,  1., 45.,  9.,  3., 66.,
        8., 44.,  6., 43.,  3.,  5.,  8.,  7.,  7., 33.,  5., 32.,  2.,
       36., 12.,  7.,  7., 48.,  1.,  5.,  4.,  5., 29., 42.,  5., 20.,
        3.,  6.,  4.,  4., 31.,  6.,  4.,  7.,  2., 36.,  6., 15., 49.,
       34.,  4., 41.,  4.,  4.,  2., 47.,  9., 43., 25.,  7., 58.,  7.,
        5., 33., 28., 27.,  4.,  3., 12.,  8., 29.,  4.,  4.,  6., 31.,
       10., 42.,  4.,  6., 55.,  4.,  9., 46.,  9.,  9.,  4.,  4.,  2.,
        4.,  6.,  5.,  7.,  7.,  5.,  4., 11.,  4.,  3.,  7.,  4.,  6.,
        9.,  2.,  2.,  5., 29.,  8., 20.,  2., 42., 15., 35.,  3.,  0.,
        6.,  5., 53., 42., 38.,  4., 27., 47.,  7.,  5., 16.,  5., 54.,
       34.,  9.,  4.,  2.,  4.,  7., 39., 38.,  9., 12., 40.,  9., 19.,
       29., 46.,  3.,  6., 21.,  4.,  5.,  7.,  8., 42., 44., 36.,  6.,
        5.,  1., 36.,  6.,  7.,  5.,  5.,  4., 41.,  6., 36.,  3., 53.,
        5.,  6., 54.,  2.,  5.,  5., 36., 27.,  5.,  4.,  6.,  9.,  9.,
       55., 63.,  5.,  7.,  5.,  7.,  7., 38.,  5.,  6.,  6.,  2.,  6.,
        5., 17.,  3., 12.,  2.,  8.,  7.,  6., 64.,  5.,  5.,  3., 21.,
        3., 21., 35., 12.,  5., 14.,  6.,  3., 29.,  5., 11.,  8.,  7.,
        8.,  4.,  3.,  4.,  9., 41., 43., 45., 26.,  5.,  7.,  5., 40.,
        6., 28.,  4., 15.,  5., 27.,  3., 62.,  4., 55.,  7.,  6.,  4.,
       44.,  7., 38.,  6., 30., 40., 47., 22.,  6., 34.,  6., 54.,  9.,
       54., 69., 56., 24.,  6.,  3.,  6.,  3.,  7.,  6., 17., 26., 22.,
        5., 27.,  1.,  2.,  7., 40., 23., 54.,  5.,  8.,  7., 47., 48.,
        9.,  3.,  4., 17., 34., 29.,  4.,  5.,  5.,  3., 19.,  5., 45.,
        6., 30., 44., 55.,  4.,  7.,  8.,  7., 10.,  3., 66., 12.])

In [12]:
test_unknown = test.drop(columns=['Class'])
test_unknown

,Clump_Thickness,Uniformity_of_Cell_Size,Uniformity_of_Cell_Shape,Marginal_Adhesion,Single_Epithelial_Cell_Size,Bare_Nuclei,Bland_Chromatin,Normal_Nucleoli,Mitoses
0,6,1,1,1,2,1,3,1,1
1,7,4,6,4,6,1,4,3,1
2,1,1,1,1,1,1,3,1,1
3,4,10,4,7,3,10,9,10,1
4,4,1,1,1,2,1,1,1,1
...,...,...,...,...,...,...,...,...,...
678,2,5,7,6,4,10,7,6,1
679,10,7,7,3,8,5,7,4,3
680,4,1,1,1,2,1,2,1,1
681,10,6,6,2,4,10,9,7,1
682,1,1,1,1,2,1,1,1,1

In [13]:
def classify(ex, training, k):
    temp_training = training.drop(columns=['Class'])
    distances = nearest_neighbors(ex,temp_training)
    temp = temp_training.assign(distances=distances).assign(Class=training['Class']).sort_values(by='distances')
    most = temp.head(k).groupby('Class').count().sort_values(by='Clump_Thickness').index[-1]
    return most
def classify_man(ex, training, k):
    temp_training = training.drop(columns=['Class'])
    distances = nearest_neighbors_man(ex,temp_training)
    temp = temp_training.assign(distances=distances).assign(Class=training['Class']).sort_values(by='distances')
    most = temp.head(k).groupby('Class').count().sort_values(by='Clump_Thickness').index[-1]
    return most
classify(test_unknown.iloc[0], training, 3)

2

In [14]:
def accuracy(k):
    correct = 0
    for index, row in test_unknown.iterrows():
        if classify(row, training, k) == test['Class'].iloc[index]:
            correct = correct + 1
    return correct / test.shape[0]
def accuracy_man(k):
    correct = 0
    for index, row in test_unknown.iterrows():
        if classify_man(row, training, k) == test['Class'].iloc[index]:
            correct = correct + 1
    return correct / test.shape[0]

In [15]:
k_5 = accuracy(5)
k_5

0.986822840409956

In [16]:
k_5_man = accuracy_man(5)
k_5_man

0.9780380673499268